html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  background: #88c8ff;
  border: 2px solid #333;
  image-rendering: pixelated;
}